.news-container {
    display: none;
}
.noticia {
    @include flexbox(column);
    @include noticia-review;

    & img {
        border: solid 5px black;
    }
}
@media (min-width: 1200px) {
.news-container {
    @include flexbox(row);
    justify-content: center;

    & a img {
        border: 2px solid black;
        border-radius: 6px;
        margin: 5px;
        height: 50vh;
        max-width: 300px;
        object-fit: cover;

        &:hover {
            opacity: 0.5;
        }
    }
}
.noticia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
}
