.contenedor-proximamente {
    @include flexbox(column);
}
@media (min-width: 1200px) {
    .contenedor-proximamente {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: none;
        margin: none;
    }
}
